
.hero-section {
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }
  
  .hero-background {
    background-color: rgba(254, 252, 251, 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 80px 120px;
  }
  
  .hero-container {
    display: flex;
    width: 100%;
    max-width: 1326px;
    flex-direction: column;
    margin: 0 0 -24px 78px;
  }
  
  .nav-wrapper {
    background-color: rgba(254, 252, 251, 1);
    width: 1170px;
    max-width: 100%;
    padding: 32px 0;
  }
  
  .nav-content {
    gap: 20px;
    display: flex;
  }
  
  .brand-wrapper {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 17%;
    margin-left: 0;
  }
  
  .brand-content {
    display: flex;
    gap: 10px;
    align-self: stretch;
    color: var(--Primary-B, #222);
    letter-spacing: 0.14px;
    margin: auto 0;
    font: 700 24px/1 Volkhov, sans-serif;
  }
  
  .brand-logo {
    flex-grow: 1;
  }
  
  .brand-icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 19px;
    fill: var(--Paragraph, #666);
    margin: auto 0;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  
  .nav-items {
    display: flex;
    gap: 32px;
    align-self: stretch;
    color: rgba(34, 34, 34, 1);
    margin: auto 0;
    font: 400 16px Poppins, sans-serif;
  }
  
  .nav-auth {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 34%;
    margin-left: 20px;
  }
  
  .auth-buttons {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    justify-content: space-between;
    font: 600 16px Poppins, sans-serif;
  }
  
  .login-btn {
    color: rgba(253, 141, 58, 1);
    text-align: right;
    margin: auto 0;
  }
  
  .signup-btn {
    border-radius: 5px;
    background-color: rgba(250, 116, 54, 1);
    box-shadow: 0px 8px 16px rgba(250, 116, 54, 0.24);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 13px 50px;
  }
  
  .hero-content {
    gap: 20px;
    display: flex;
  }
  
  .hero-text {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
  }
  
  .text-content {
    display: flex;
    margin-top: 96px;
    flex-grow: 1;
    flex-direction: column;
    font-family: Poppins, sans-serif;
  }
  
  .hero-title {
    color: rgba(34, 34, 34, 1);
    font: 700 64px/70px Volkhov, sans-serif;
  }
  
  .orange-text {
    color: rgba(250, 116, 54, 1);
  }
  
  .hero-description {
    color: var(--Paragraph, #666);
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin: 32px 24px 0 0;
  }
  
  .discover-button {
    border-radius: 5px;
    border: 1px solid var(--Primary-O, #fa7436);
    background-color: #fff;
    align-self: start;
    margin-top: 64px;
    font-size: 18px;
    color: var(--Primary-O, #fa7436);
    font-weight: 500;
    line-height: 32px;
    padding: 14px 28px;
  }
  
  .hero-image-wrapper {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
    margin-left: 20px;
  }
  
  .hero-image {
    aspect-ratio: 1.34;
    object-fit: contain;
    width: 100%;
    border-radius: 0;
    flex-grow: 1;
  }
  
  .search-container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
    align-self: center;
    margin-top: 56px;
    width: 841px;
    max-width: 100%;
    padding: 32px 24px;
  }
  
  .search-content {
    gap: 20px;
    display: flex;
  }
  
  .search-fields {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 76%;
  }
  
  .search-inputs {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: stretch;
    font-family: Poppins, sans-serif;
    margin: auto 0;
  }
  
  .input-labels {
    display: flex;
    width: 491px;
    max-width: 100%;
    gap: 20px;
    font-size: 16px;
    color: var(--Primary-B, #222);
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .input-group {
    display: flex;
    gap: 4px;
  }
  
  .input-icon {
    aspect-ratio: 1.72;
    object-fit: contain;
    width: 12px;
    stroke-width: 2px;
    stroke: var(--Primary-O, #fa7436);
    margin: auto 0;
  }
  
  .input-placeholders {
    display: flex;
    margin-top: 10px;
    gap: 40px 98px;
    font-size: 12px;
    color: var(--Paragraph, #666);
    font-weight: 400;
    flex-wrap: wrap;
  }
  
  .placeholder-text {
    flex-grow: 1;
    width: 106px;
  }
  
  .search-button-wrapper {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 24%;
    margin-left: 20px;
  }
  
  .explore-button {
    border-radius: 5px;
    background: var(--Primary-O, #fa7436);
    box-shadow: 0px 8px 16px 0px rgba(250, 116, 54, 0.16);
    flex-grow: 1;
    color: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 14px 28px;
    font: 500 18px/32px Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .hero-background {
      max-width: 100%;
      padding: 0 20px 100px;
    }
  
    .hero-container {
      max-width: 100%;
      margin-bottom: 10px;
    }
  
    .nav-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .brand-wrapper,
    .nav-links,
    .nav-auth {
      width: 100%;
    }
  
    .brand-content,
    .nav-items,
    .auth-buttons {
      margin-top: 40px;
    }
  
    .signup-btn,
    .discover-button,
    .explore-button {
      padding: 0 20px;
    }
  
    .hero-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .hero-text,
    .hero-image-wrapper {
      width: 100%;
    }
  
    .text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .hero-title {
      max-width: 100%;
      font-size: 40px;
      line-height: 48px;
    }
  
    .hero-description {
      max-width: 100%;
      margin-right: 10px;
    }
  
    .discover-button {
      margin-top: 40px;
    }
  
    .hero-image {
      max-width: 100%;
      margin-top: 20px;
    }
  
    .search-container {
      margin-top: 40px;
      padding: 0 20px;
    }
  
    .search-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .search-fields,
    .search-button-wrapper {
      width: 100%;
    }
  
    .search-inputs {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .input-labels {
      white-space: initial;
    }
  
    .input-group {
      white-space: initial;
    }
  
    .input-placeholders {
      max-width: 100%;
    }
  
    .explore-button {
      margin-top: 40px;
    }
  }
  

.vacation-planning {
  border-radius: 0;
  display: flex;
  flex-direction: column;
}
.planning-background {
  background-color: rgba(247, 248, 252, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 80px;
}
.planning-container {
  display: flex;
  margin-bottom: -24px;
  width: 1170px;
  max-width: 100%;
  flex-direction: column;
}
.header-wrapper {
  align-self: end;
  margin-right: 78px;
  width: 767px;
  max-width: 100%;
}
.header-content {
  gap: 20px;
  display: flex;
}
.text-content {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 74%;
  margin-left: 0;
}
.text-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.section-title {
  color: var(--Primary-O, #fa7436);
  font: 700 48px/1 Volkhov, sans-serif;
}
.highlight-text {
  color: rgba(250, 116, 54, 1);
}
.section-description {
  color: var(--Paragraph, #666);
  text-align: center;
  align-self: center;
  margin-top: 24px;
  font: 400 18px/32px Poppins, sans-serif;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 26%;
  margin-left: 20px;
}
.icon-image {
  aspect-ratio: 1.37;
  object-fit: contain;
  object-position: center;
  width: 180px;
  max-width: 100%;
}
.gallery-section {
  margin-top: 64px;
}
.gallery-grid {
  gap: 20px;
  display: flex;
}
.gallery-item {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0;
}
.gallery-image {
  aspect-ratio: 1.33;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 0;
  flex-grow: 1;
}
.gallery-item-space {
  margin-left: 20px;
}
.content-box {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  width: 370px;
  max-width: 100%;
  height: 278px;
  margin: 0 auto;
  border: 2px solid rgba(102, 102, 102, 0.08);
}
@media (max-width: 991px) {
  .planning-background {
    max-width: 100%;
    padding: 100px 20px;
  }
  .planning-container {
    margin-bottom: 10px;
  }
  .header-wrapper {
    margin-right: 10px;
  }
  .header-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .text-content {
    width: 100%;
  }
  .text-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }
  .section-title {
    max-width: 100%;
    font-size: 40px;
  }
  .section-description {
    max-width: 100%;
  }
  .icon-wrapper {
    width: 100%;
  }
  .icon-image {
    margin-top: 40px;
  }
  .gallery-section {
    max-width: 100%;
    margin-top: 40px;
  }
  .gallery-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .gallery-item {
    width: 100%;
  }
  .gallery-image {
    margin-top: 30px;
  }
  .content-box {
    margin-top: 30px;
  }
}


.discounted-price {
  border-radius: 8px;
  background-color: rgba(255, 231, 219, 1);
  color: var(--Primary-O, #fa7436);
  font-weight: 600;
  padding: 2px 6px;
}

.regular-price {
  color: var(--Paragraph, #666);
  font-weight: 500;
  margin: auto 0;
}

.old-price {
  color: var(--Color-Off, #999);
  font-weight: 500;
  margin: auto 0;
}

.deals-section {
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.deals-container {
  background-color: rgba(254, 252, 251, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 80px;
}

.content-wrapper {
  display: flex;
  margin-bottom: -24px;
  width: 1170px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.section-title {
  color: var(--Primary-O, #fa7436);
  font: 700 48px/1 Volkhov, sans-serif;
}

.section-description {
  color: var(--Paragraph, #666);
  text-align: center;
  margin-top: 24px;
  width: 433px;
  font: 400 18px/32px Poppins, sans-serif;
}

.cards-container {
  align-self: stretch;
  margin-top: 64px;
}

.cards-grid {
  gap: 20px;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0;
}

.card-content {
  border-radius: 8px;
  background-color: rgba(254, 252, 251, 1);
  display: flex;
  width: 100%;
  padding-bottom: 32px;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  text-align: center;
  margin: 0 auto;
  border: 2px solid rgba(102, 102, 102, 0.08);
}

.card-image {
  aspect-ratio: 0.93;
  object-fit: contain;
  width: 100%;
  border-radius: 8px;
}

.card-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 32px 16px 0;
}

.location-name {
  color: var(--Primary-B, #222);
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.rating-wrapper {
  align-self: start;
  display: flex;
  gap: 8px;
  font-size: 16px;
  color: var(--Paragraph, #666);
  font-weight: 400;
}

.rating-icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 16px;
  border-radius: 8px;
  margin: auto 0;
}

.card-footer {
  display: flex;
  gap: 20px;
  font-size: 16px;
  justify-content: space-between;
  margin: 18px 16px 0;
}

.location-info {
  align-self: start;
  display: flex;
  gap: 8px;
  color: var(--Paragraph, #666);
  font-weight: 400;
  line-height: 1;
}

.location-icon {
  aspect-ratio: 0.81;
  object-fit: contain;
  width: 13px;
  fill: var(--Color-Off, #999);
  margin: auto 0;
}

.price-wrapper {
  display: flex;
  gap: 16px;
}

.pagination-dots {
  aspect-ratio: 2.6;
  object-fit: contain;
  width: 104px;
  margin-top: 48px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .deals-container {
    max-width: 100%;
    padding: 100px 20px;
  }

  .content-wrapper {
    margin-bottom: 10px;
  }

  .section-title {
    max-width: 100%;
    font-size: 40px;
  }

  .cards-container {
    max-width: 100%;
    margin-top: 40px;
  }

  .cards-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .card {
    width: 100%;
  }

  .card-content {
    margin-top: 29px;
  }

  .card-header,
  .card-footer {
    margin: 0 10px;
  }

  .pagination-dots {
    margin-top: 40px;
  }
}


.vacation-section {
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.vacation-bg {
  background-color: rgba(254, 252, 251, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 80px;
}

.vacation-container {
  display: flex;
  margin-bottom: -24px;
  width: 1170px;
  max-width: 100%;
  flex-direction: column;
}

.header-wrapper {
  align-self: end;
  display: flex;
  width: 843px;
  max-width: 100%;
  flex-direction: column;
}

.header-content {
  width: 655px;
  max-width: 100%;
}

.header-row {
  gap: 20px;
  display: flex;
}

.title-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 83%;
  margin-left: 0;
}

.title-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.main-title {
  color: var(--Primary-O, #fa7436);
  margin: 0 44px 0 42px;
  font: 700 48px/1 Volkhov, sans-serif;
}

.title-highlight {
  color: rgba(250, 116, 54, 1);
}

.description {
  color: #666;
  text-align: center;
  margin-top: 24px;
  font: 400 18px/32px Poppins, sans-serif;
}

.icon-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 17%;
  margin-left: 20px;
}

.decorative-icon {
  aspect-ratio: 1.31;
  object-fit: contain;
  object-position: center;
  width: 106px;
  max-width: 100%;
}

.decorative-element {
  aspect-ratio: 2.8;
  object-fit: contain;
  object-position: center;
  width: 112px;
  align-self: end;
  max-width: 100%;
}

.destinations-wrapper {
  margin-top: 24px;
}

.destinations-row {
  gap: 20px;
  display: flex;
}

.destination-card-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0;
}

.destination-image {
  aspect-ratio: 0.83;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 16px;
  flex-grow: 1;
}

.card-featured {
  border-radius: 16px;
  background-color: rgba(254, 252, 251, 1);
  box-shadow: 0px 16px 80px rgba(254, 147, 94, 0.2);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: Poppins, sans-serif;
  margin: 0 auto;
  padding: 0 1px 24px;
}

.card-image {
  aspect-ratio: 1.13;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 16px;
  align-self: stretch;
}

.card-header {
  display: flex;
  margin-top: 24px;
  width: 319px;
  max-width: 100%;
  gap: 20px;
  font-size: 24px;
  white-space: nowrap;
  line-height: 1;
  justify-content: space-between;
}

.location-name {
  color: rgba(34, 34, 34, 1);
  font-weight: 500;
}

.price {
  color: var(--Primary-O, #fa7436);
  font-weight: 600;
}

.card-footer {
  display: flex;
  margin-top: 16px;
  width: 319px;
  max-width: 100%;
  gap: 20px;
  font-size: 16px;
  color: var(--Paragraph, #666);
  justify-content: space-between;
}

.trip-duration {
  display: flex;
  gap: 18px;
  font-weight: 500;
}

.duration-icon {
  aspect-ratio: 1.19;
  object-fit: contain;
  object-position: center;
  width: 19px;
  margin: auto 0;
}

.rating-wrapper {
  display: flex;
  gap: 9px;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}

.rating-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  border-radius: 10px;
  margin: auto 0;
}

.card-regular {
  border-radius: 16px;
  border: 2px solid rgba(102, 102, 102, 0.08);
  background: var(--white, #fff);
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  margin: 0 auto;
  padding: 0 1px 24px;
}

@media (max-width: 991px) {
  .vacation-bg {
    max-width: 100%;
    padding: 100px 20px;
  }
  
  .vacation-container {
    margin-bottom: 10px;
  }
  
  .header-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  
  .title-column {
    width: 100%;
  }
  
  .title-wrapper {
    max-width: 100%;
    margin-top: 31px;
  }
  
  .main-title {
    max-width: 100%;
    margin-right: 10px;
    font-size: 40px;
  }
  
  .description {
    max-width: 100%;
  }
  
  .icon-column {
    width: 100%;
  }
  
  .decorative-icon {
    margin-top: 31px;
  }
  
  .destinations-wrapper {
    max-width: 100%;
  }
  
  .destinations-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  
  .destination-card-column {
    width: 100%;
  }
  
  .destination-image {
    margin-top: 30px;
  }
  
  .card-featured {
    margin-top: 30px;
  }
  
  .card-header {
    white-space: initial;
  }
  
  .rating-wrapper {
    white-space: initial;
  }
  
  .card-regular {
    margin-top: 30px;
  }
}

.testimonials-section {
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.testimonials-bg {
  background-color: rgba(247, 248, 252, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 56px 70px 120px;
}

.testimonials-wrapper {
  width: 1225px;
  max-width: 100%;
  margin: 0 0 -24px 29px;
}

.testimonials-content {
  gap: 20px;
  display: flex;
}

.testimonials-left {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 36%;
  margin-left: 0;
}

.testimonials-header {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: auto 0;
}

.testimonials-title {
  color: var(--Primary-O, #fa7436);
  text-transform: lowercase;
  font: 700 48px/54px Volkhov, sans-serif;
}

.accent-text {
  color: rgba(250, 116, 54, 1);
}

.testimonials-subtitle {
  color: var(--Paragraph, #666);
  margin-top: 24px;
  font: 400 16px/32px Roboto, sans-serif;
}

.rating-stars {
  aspect-ratio: 2.8;
  object-fit: contain;
  object-position: center;
  width: 112px;
  margin-top: 32px;
  max-width: 100%;
}

.testimonials-right {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 64%;
  margin-left: 20px;
}

.testimonial-card-wrapper {
  display: flex;
  flex-grow: 1;
  gap: 19px;
  flex-wrap: wrap;
}

.user-avatar {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 68px;
  border-radius: 50%;
  align-self: start;
  margin-top: 64px;
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}

.quote-image {
  aspect-ratio: 0.9;
  object-fit: contain;
  object-position: center;
  width: 169px;
  align-self: end;
  max-width: 100%;
}

.testimonial-card {
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(34, 34, 34, 0.35);
  display: flex;
  width: 502px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
  padding: 0 48px 22px 0;
  border: 2px solid rgba(102, 102, 102, 0.08);
}

.testimonial-text-wrapper {
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0);
  background-color: var(--white, #fff);
  z-index: 10;
  display: flex;
  margin-top: -90px;
  flex-direction: column;
  font-size: 16px;
  line-height: 32px;
  padding: 36px 34px;
}

.testimonial-quote {
  color: var(--Color-B-1, #444);
  font-family: Poppins, sans-serif;
  font-weight: 500;
  align-self: start;
  z-index: 10;
}

.testimonial-author {
  display: flex;
  margin-left: 34px;
  flex-direction: column;
  font-family: Poppins, sans-serif;
}

.author-name {
  color: var(--Primary-B, #222);
  font-size: 18px;
  font-weight: 600;
  opacity: 0.5;
}

.author-title {
  color: var(--Paragraph, #666);
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  margin-top: 6px;
}

@media (max-width: 991px) {
  .testimonials-bg {
    max-width: 100%;
    padding: 0 20px 100px;
  }

  .testimonials-wrapper {
    margin-bottom: 10px;
  }

  .testimonials-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .testimonials-left {
    width: 100%;
  }

  .testimonials-header {
    margin-top: 40px;
  }

  .testimonials-title {
    margin-right: 6px;
    font-size: 40px;
    line-height: 50px;
  }

  .testimonials-right {
    width: 100%;
  }

  .testimonial-card-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }

  .user-avatar {
    margin-top: 40px;
  }

  .testimonial-content {
    max-width: 100%;
  }

  .testimonial-card {
    padding-right: 20px;
  }

  .testimonial-text-wrapper {
    max-width: 100%;
    padding-left: 20px;
  }

  .testimonial-author {
    margin-left: 10px;
  }
}


.blog-section {
  border-radius: 0;
  display: flex;
  flex-direction: column;
}
.blog-background {
  background-color: rgba(254, 252, 251, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 80px;
}
.blog-container {
  display: flex;
  margin-bottom: -24px;
  width: 1170px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
.blog-heading {
  color: rgba(0, 0, 0, 1);
  font: 700 48px/1 Volkhov, sans-serif;
}
.highlight-text {
  color: rgba(250, 116, 54, 1);
}
.blog-grid {
  align-self: stretch;
  margin-top: 64px;
}
.blog-row {
  gap: 20px;
  display: flex;
}
.blog-card {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
}
.blog-card-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
}
.blog-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 8px;
}
.blog-title {
  color: var(--Primary-B, #222);
  margin-top: 24px;
  font: 500 18px/26px Poppins, sans-serif;
}
.blog-date {
  color: rgba(153, 153, 153, 1);
  margin-top: 16px;
  font: 400 16px/2 Inter, sans-serif;
}
.blog-dots {
  aspect-ratio: 3.86;
  object-fit: contain;
  object-position: center;
  width: 54px;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .blog-background {
    max-width: 100%;
    padding: 100px 20px;
  }
  .blog-container {
    margin-bottom: 10px;
  }
  .blog-heading {
    max-width: 100%;
    font-size: 40px;
  }
  .blog-grid {
    max-width: 100%;
    margin-top: 40px;
  }
  .blog-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .blog-card {
    width: 100%;
  }
  .blog-card-content {
    margin-top: 30px;
  }
  .blog-dots {
    margin-top: 40px;
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.footer {
  border-radius: 0;
  display: flex;
  flex-direction: column;
}
.newsletter-container {
  border-radius: 16px;
  background: var(--Primary-O, #fa7436);
  align-self: center;
  z-index: 10;
  display: flex;
  width: 1170px;
  max-width: 100%;
  flex-direction: column;
  padding: 9px 2px 0;
}
.newsletter-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 407px;
  align-items: center;
  justify-content: center;
  padding: 76px 80px;
}
.newsletter-bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.newsletter-form-container {
  position: relati/ve;
  display: flex;
  margin-left: 40px;
  width: 674px;
  max-width: 100%;
  flex-direction: column;
}
.newsletter-heading {
  color: #fff;
  text-align: center;
  margin: 0 12px 0 17px;
  font: 700 48px Volkhov, sans-serif;
}
.newsletter-form {
  border-radius: 10px;
  background: #fff;
  display: flex;
  margin-top: 64px;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 9px 9px 9px 22px;
  font: 400 16px Poppins, sans-serif;
}
.input-wrapper {
  display: flex;
  gap: 8px;
  color: var(--Color-Off, #999);
  margin: auto 0;
}
.mail-icon {
  aspect-ratio: 1.19;
  object-fit: contain;
  object-position: center;
  width: 19px;
  border-radius: 0;
  margin: auto 0;
}
.subscribe-button {
  border-radius: 8px;
  background: var(--Primary-O, #fa7436);
  color: #fff;
  border: none;
  padding: 13px 26px;
  cursor: pointer;
}
.footer-content {
  background-color: #f7f8fc;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 326px 80px 39px;
}
.footer-wrapper {
  display: flex;
  width: 1172px;
  max-width: 100%;
  flex-direction: column;
}
.footer-sections {
  gap: 20px;
  display: flex;
}
.brand-section {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 47%;
  margin-left: 0;
}
.brand-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}
.brand-header {
  display: flex;
  gap: 10px;
  color: var(--Primary-B, #222);
  letter-spacing: 0.14px;
  font: 700 24px/1 Volkhov, sans-serif;
}
.brand-name {
  flex-grow: 1;
}
.brand-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 19px;
  fill: var(--Paragraph, #666);
  margin: auto 0;
}
.brand-description {
  color: #666;
  align-self: stretch;
  margin-top: 24px;
  font: 500 16px/32px Poppins, sans-serif;
}
.social-icons {
  aspect-ratio: 3.66;
  object-fit: contain;
  object-position: center;
  width: 176px;
  margin-top: 16px;
  max-width: 100%;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 17%;
  margin-left: 20px;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #666;
  font: 400 18px/1 Poppins, sans-serif;
}
.nav-heading {
  color: var(--Primary-B, #222);
  font-weight: 600;
  align-self: stretch;
}
.nav-item {
  margin-top: 16px;
}
.nav-item:first-child {
  margin-top: 32px;
}
.footer-bottom {
  display: flex;
  margin-top: 40px;
  gap: 20px;
  color: #666;
  flex-wrap: wrap;
  justify-content: space-between;
  font: 400 16px Poppins, sans-serif;
}
.copyright {
  opacity: 0.8;
}
.terms {
  text-align: right;
  opacity: 0.8;
}
.divider {
  margin-top: 39px;
  width: 100%;
  height: 1px;
  border: 1px solid rgba(153, 153, 153, 0.56);
}
@media (max-width: 991px) {
  .newsletter-content {
    max-width: 100%;
    padding: 0 20px;
  }
  .newsletter-heading {
    max-width: 100%;
    margin-right: 10px;
    font-size: 40px;
  }
  .newsletter-form {
    max-width: 100%;
    padding-left: 20px;
    margin-top: 40px;
  }
  .subscribe-button {
    padding: 0 20px;
  }
  .footer-content {
    max-width: 100%;
    padding: 100px 20px 0;
  }
  .footer-sections {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .brand-section,
  .footer-nav {
    width: 100%;
    margin-top: 40px;
  }
  .footer-bottom {
    max-width: 100%;
  }
}